<div class='modal-header'>
    <h4 class='modal-title'>{{id_person ? 'Modificare' : 'Adăugare'}} persoana</h4>
  </div>
  
  <div class='modal-body'>
    <div class='row'>
      <label class='col-2 control-label'>Nume*</label>
      <div [formGroup]='validate' class='form-group col-4'>
        <input [(ngModel)]='modal.fname' class='form-control' placeholder='Nume...' maxlength='255' formControlName="fname" />
        <span class="text-danger"
        *ngIf="validate.controls['fname'].hasError('required') &&
        (validate.controls['fname'].dirty ||
        validate.controls['fname'].touched)"
        >Numele este obligatoriu</span>
      </div>

      <label class='col-2 control-label'>CNP*</label>
      <div [formGroup]='validate' class='form-group col-4'>
        <input [(ngModel)]='modal.cnp' class='form-control' placeholder='CNP...' maxlength='13' formControlName="cnp" />
        <span class="text-danger"
        *ngIf="validate.controls['cnp'].hasError('required') &&
        (validate.controls['cnp'].dirty ||
        validate.controls['cnp'].touched)"
        >CNP-ul este obligatoriu</span>
      </div>
      <label class='col-2 control-label'>Varsta*</label>
      <div class='col-4'>
        <input type='number' [(ngModel)]='modal.age' class='form-control' placeholder='' maxlength='3' />
      </div>
      <!-- <label class='col-2 control-label'>Prenume*</label>
      <div class='col-9'>
        <input [(ngModel)]='modal.lname' class='form-control' placeholder='Prenume...' maxlength='255' />
      </div>
    </div> -->
    <label class='col-2 control-label'>Selecteaza masini*</label>

    <div class="col-4">
      <ng-select 
      [items]="cars" 
      bindLabel="make" 
      bindValue="id" 
      (change)="itemSelected($event)" 
      [multiple]="true"
      [closeOnSelect]="false"
      > </ng-select>
    </div>
  </div>
  
  <div class='modal-footer'>
    <button type='button' class='btn btn-outline-dark' (click)='activeModal.dismiss()'>Renunță</button>
    <button type='button' class='btn btn-success' (click)='save()'>Salvează</button>
  </div>